<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook List Page
            <span>
                <a th:href="@{/guestbook/register}">
                    <button type="button" class="btn btn-outline-primary">REGISTER</button>
                </a>
            </span>
        </h1>

        <form action="/guestbook/list" method="get" id="searchForm">
            <div class="input-group">
                <input type="hidden" name="page" value="1">
                <div class="input-group-prepend">
                    <select class="custom-select" name="type"> <!-- 검색 타입을 선택, PageRequestDTO를 이용해서 검색 타입에 맞게 자동으로 선택 -->
                        <option th:selected="${pageRequestDTO.type == null}">-------</option>
                        <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                        <option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
                        <option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
                        <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제목 + 내용</option>
                        <option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">제목 + 내용 + 작성자</option>
                    </select>
                </div>
                <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}"> <!-- 키워드 처리 -->
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
                    <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Gno</th>
                    <th scope="col">Title</th>
                    <th scope="col">Writer</th>
                    <th scope="col">Regdate</th>
                </tr>
            </thead>
            <tbody>
                <!-- th:each를 이용해서 PageResultDTO 안에 들어있는 dtoList를 반복처리
                     마지막 시간 처리는 년/월/일의 포맷으로 출력하도록 조정 -->
                <tr th:each="dto : ${result.dtoList}">
                    <th scope="row">
                        <a th:href="@{/guestbook/read(gno = ${dto.gno},
                                                      page= ${result.page},
                                                      type=${pageRequestDTO.type},
                                                      keyword=${pageRequestDTO.keyword})}">
                            [[${dto.gno}]]
                        </a>
                    </th>
                    <td>[[${dto.title}]]</td>
                    <td>[[${dto.writer}]]</td>
                    <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                </tr>
            </tbody>
        </table>
        <!-- 하단 페이지 목록 처리 -->
        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${result.prev}">
                <a class="page-link"
                   th:href="@{/guestbook/list(page= ${result.start - 1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
                   tabindex="-1">Previous
                </a>
            </li>

            <!-- page-item 뒤에 한 칸 공백 띄어줘야 뒤에 active가 먹음 -->
            <li th:class=" 'page-item ' + ${result.page == page ? 'active':''}" th:each="page: ${result.pageList}">
                <a class="page-link"
                   th:href="@{/guestbook/list(page = ${page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link"
                   th:href="@{/guestbook/list(page= ${result.end + 1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
                    Next
                </a>
            </li>
        </ul>
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- thymeleaf의 inline 속성을 이용해서 처리하면 별도의 타입 처리가 필요하지 않기 때문에 만일 새로운 글이 등록되면 생성된 글 번호가 msg로서 출력됨
             등록 후 redirect되는 목록 화면이 아니고 단순한 링크 이동의 경우에는 msg 변수의 값은 자동으로 null로 처리됨
             msg 변수에 새로 생성된 글 번호가 할당되므로 msg 변수의 값을 이용해 모달창 실행
             (관련 예제: http://getbootstrap.com/docs/4.2/components/modal/) -->
        <script th:inline="javascript">
            var msg = [[${msg}]];

            console.log(msg);

            if(msg){
                $(".modal").modal();
            }

            var searchForm = $("#searchForm");

            $('.btn-search').click(function(e){ // 새롭게 선택된 검색 타입과 키워드로 1페이지를 검색
                searchForm.submit();
            });

            $('.btn-clear').click(function(e){ // 모든 검색과 관련된 내용을 삭제하고 검색이 없는 목록 페이지를 호출
                searchForm.empty().submit();
            });
        </script>
    </th:block>
</th:block>
</html>